@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
    color: #222;
}

h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 900px;
    margin: 0 auto;
}

th, td {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

th {
    border-bottom: 2px solid #000;
    background: #f5f5f5;
    text-align: left;
}

.task-table .btn-action {
    text-align: center;
}

.task-table .btn-action a {
    text-decoration: none;
    color: inherit;
}

.task-table .btn-action.edit a:hover {
    color: #2563eb;
}

.task-table .btn-action.delete a:hover {
    color: #dc2626;
}

.prioridade, tr > th:first-child {
     padding: 0 !important;
     width: 15px;
}

.alta {background-color: #fca5a5}
.media {background-color: #93c5fd}
.baixa {background-color: #86efac}